body{
  background-image: url('background.jpg');
  background-size: cover;
  font-size: 15px;
}

.box1 {
  border-radius: 30px;
  padding: 20px;
  margin-left: 150px;
  margin-right: 150px;
	color:#000;
	background-color:rgba(0,0,0,0.5);
}

header{
  font-size: 10px;
  text-align: center;
  font-family: sans-serif; color: #00ff00;
}

#lim-logo{
  width: 200px;
}

nav{
  text-align: center;
  background-color: #00ff00;
  margin-left: 20%;
  margin-right: 19%;
  padding: 1%;
}

main{
  padding-left: 200px;
  font-size: 10px;
}

p {
  font-size: 13px;
}

section{
  color: white;
}

.monopattino{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

#Gino-Bar {
  width: 35%;
  height: 20px;
  background-color: orange;
  border-radius: 5px;
}

#Mike-Bar {
  width: 55%;
  height: 20px;
  background-color: green;
  border-radius: 5px;
}

#Fede-Bar {
  width: 10%;
  height: 20px;
  background-color: red;
  border-radius: 5px;
}
